# EditorConfig for test console project

root = true

[*.cs]

dotnet_diagnostic.TW0003.severity = error  # Set to warning/error to enforce kebab-case file naming
dotnet_diagnostic.TW0003.excluded_files = PascalCaseTest.cs 
# Enable TW0004 - XML documentation to markdown analyzer
dotnet_diagnostic.TW0004.severity = suggestion